<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mars Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><u>Latest News</u></h2>
      </div>
    </div>
  </br>
    <div class="row">
      <div class="col-md-12">
        <h4>{{news_title}}</h4>
        <p>{{mars_p}}</p>
      </div>
    </div>
  <hr>
  <div class="row">
    <div class="col-md-8 border">
      <h2 class=""><u>Featured Mars Image</u></h2> 
      </br>
      <img class="col-md-12 border" src="{{mars.featured_Image}}" alt="Features Mars Image">
    </div>
    <div class="col-md-4">
      
      </br>
      <div class="card">
        <h3>Mars Facts</h3>
          {{facts_html}}
      </div>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-md-8 offset-4">
      <h2 class="align-items-center"><u>Mars hemispheres</u></h2>  
    </div>
  </div>
  </br>
  <div class="row">       
         
            <div class="col-6 border">
            </br>
                  <div>
                    <img width="300px" height="300 px" src="{{i.image_url}}">
                  </div>

                  <div>
                    <h4> {{image_urls}} </h4>  
                  </div>
          
            </div>
        
  </div> 

<hr>
<footer class="footer">
  <span class="bottom">Come back soon!</span>

</footer>
</body>

</html>

